*{
    margin: 0;
}
body{
    font-family: 'Roboto Mono', monospace;
    background-color: white;
}

header{
    height:60px;
    background-color:  rgb(206, 118, 143);
    
    justify-content: center;

}

.logos{
    display: flex;
    justify-content: center;
    padding-left: 1255px;
    gap: 50px;
    /* align-items: center; */
    padding-top: 15px;
}

/* .logo{
    width: 5x;
    height: px;
    margin-left: 10PX;
    margin-top: px;
} */

.cake-container{
    display: flex;
    justify-content: center;
    background-color: whitesmoke; 
    padding-bottom: 35px;
    gap: 30px;
}

.cake-style{
    background-size: contain;
    border: 1px solid rgb(221, 202, 202);
}

.cake-selfstyle{
    height: 60px; 
    width: 338px;
    border: 1px solid rgb(124, 77, 77);
    margin-top: 370px; 
    background-color: beige;
    text-align: center;
    border: 1px solid rgb(243, 217, 217);
}

.cake-price-link{
    margin-top: 10px; 
    font-size: 25px;
    background-color: beige;
    border: 0px;
    color: #8d2740;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#slide1{
    height: 70vh;
    object-fit: fill;
    
    /* width: 100%; */
}

#slide2{
    height: 70vh;
    object-fit: fill;
}

#slide3{
    height: 70vh;
    object-fit: fill;
}



.div1{
    text-align: center;
}

/* .nav1{
    display: flex;
    align-items: center;
    justify-content: center;
} */

.button01{
    background-color: white; 
    border: 0;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: brown;
    margin: 20px;
}

.form-control{
   text-align: center;
   padding: 20px;
   background-color: rgb(247, 230, 230);
}

.label{
    font-size: 23px; 
    color: rgb(45,21,28);

}

.select{
    font-size: 17px; 
    background-color: beige;
    padding-left: 15px;
    row-gap: 5px;
}

footer > section {
    display: fleX; 
    background-color: rgb(45,21,28); 
    justify-content: center; 
    padding-top: 50px;
    gap: 60px;
}

footer{
    margin-bottom: -50px;
    margin-left: -20px;
    margin-right: -20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/* .fa-brands{
    font-size: 80px;
    margin-top: 25px;
    margin-left: 50px;
} */

